.bg-mariner { background-color: #1E79C8; }
.bg-mariner-50 { background-color: #ABD1F2; }
.bg-mariner-100 { background-color: #99C8F0; }
.bg-mariner-200 { background-color: #76B4EA; }
.bg-mariner-300 { background-color: #52A1E5; }
.bg-mariner-400 { background-color: #2F8EE0; }
.bg-mariner-500 { background-color: #1E79C8; }
.bg-mariner-600 { background-color: #175B97; }
.bg-mariner-700 { background-color: #0F3E66; }
.bg-mariner-800 { background-color: #082036; }
.bg-mariner-900 { background-color: #010305; }
.bg-mariner-950 { background-color: #000000; }

.text-mariner {color: #1E79C8;}
.text-mariner-50 {color: #ABD1F2;}
.text-mariner-100 {color: #99C8F0;}
.text-mariner-200 {color: #76B4EA;}
.text-mariner-300 {color: #52A1E5;}
.text-mariner-400 {color: #2F8EE0;}
.text-mariner-500 {color: #1E79C8;}
.text-mariner-600 {color: #175B97;}
.text-mariner-700 {color: #0F3E66;}
.text-mariner-800 {color: #082036;}
.text-mariner-900 {color: #010305;}
.text-mariner-950 {color: #000000;}

.bg-tiber { background-color: #092940; }
.bg-tiber-50 { background-color: #2190E0; }
.bg-tiber-100 { background-color: #1D85CF; }
.bg-tiber-200 { background-color: #186EAB; }
.bg-tiber-300 { background-color: #135788; }
.bg-tiber-400 { background-color: #0E4064; }
.bg-tiber-500 { background-color: #092940; }
.bg-tiber-600 { background-color: #02090F; }
.bg-tiber-700 { background-color: #000000; }
.bg-tiber-800 { background-color: #000000; }
.bg-tiber-900 { background-color: #000000; }
.bg-tiber-950 { background-color: #000000; }

.text-tiber {color: #092940;}
.text-tiber-50 {color: #2190E0;}
.text-tiber-100 {color: #1D85CF;}
.text-tiber-200 {color: #186EAB;}
.text-tiber-300 {color: #135788;}
.text-tiber-400 {color: #0E4064;}
.text-tiber-500 {color: #092940;}
.text-tiber-600 {color: #02090F;}
.text-tiber-700 {color: #000000;}
.text-tiber-800 {color: #000000;}
.text-tiber-900 {color: #000000;}
.text-tiber-950 {color: #000000;}

.bg-maroon-flush { background-color: #BC2442; }
.bg-maroon-flush-50 { background-color: #EFA9B7; }
.bg-maroon-flush-100 { background-color: #EB98A8; }
.bg-maroon-flush-200 { background-color: #E5768C; }
.bg-maroon-flush-300 { background-color: #DE536F; }
.bg-maroon-flush-400 { background-color: #D83152; }
.bg-maroon-flush-500 { background-color: #BC2442; }
.bg-maroon-flush-600 { background-color: #8D1B31; }
.bg-maroon-flush-700 { background-color: #5E1221; }
.bg-maroon-flush-800 { background-color: #2F0910; }
.bg-maroon-flush-900 { background-color: #000000; }
.bg-maroon-flush-950 { background-color: #000000; }

.text-maroon-flush {color: #BC2442;}
.text-maroon-flush-50 {color: #EFA9B7;}
.text-maroon-flush-100 {color: #EB98A8;}
.text-maroon-flush-200 {color: #E5768C;}
.text-maroon-flush-300 {color: #DE536F;}
.text-maroon-flush-400 {color: #D83152;}
.text-maroon-flush-500 {color: #BC2442;}
.text-maroon-flush-600 {color: #8D1B31;}
.text-maroon-flush-700 {color: #5E1221;}
.text-maroon-flush-800 {color: #2F0910;}
.text-maroon-flush-900 {color: #000000;}
.text-maroon-flush-950 {color: #000000;}

.bg-purple-heart { background-color: #783CE2; }
.bg-purple-heart-50 { background-color: #E7DCFA; }
.bg-purple-heart-100 { background-color: #DACAF7; }
.bg-purple-heart-200 { background-color: #C2A7F2; }
.bg-purple-heart-300 { background-color: #A983ED; }
.bg-purple-heart-400 { background-color: #9160E7; }
.bg-purple-heart-500 { background-color: #783CE2; }
.bg-purple-heart-600 { background-color: #5B1EC8; }
.bg-purple-heart-700 { background-color: #451797; }
.bg-purple-heart-800 { background-color: #2F0F66; }
.bg-purple-heart-900 { background-color: #180836; }
.bg-purple-heart-950 { background-color: #0D041D; }

.text-purple-heart {color: #783CE2;}
.text-purple-heart-50 {color: #E7DCFA;}
.text-purple-heart-100 {color: #DACAF7;}
.text-purple-heart-200 {color: #C2A7F2;}
.text-purple-heart-300 {color: #A983ED;}
.text-purple-heart-400 {color: #9160E7;}
.text-purple-heart-500 {color: #783CE2;}
.text-purple-heart-600 {color: #5B1EC8;}
.text-purple-heart-700 {color: #451797;}
.text-purple-heart-800 {color: #2F0F66;}
.text-purple-heart-900 {color: #180836;}
.text-purple-heart-950 {color: #0D041D;}